node-red-contrib-lowercase.json
[{"id":"ef62a754.943eb8","type":"inject","z":"655e719.d8d389","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":134,"y":258,"wires":[["aaa8b10c.53c06"]]},{"id":"af3f040b.8e61e8","type":"debug","z":"655e719.d8d389","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":637,"y":321,"wires":[]},{"id":"9ea85494.1261d8","type":"lower-case","z":"655e719.d8d389","name":"Native Lowercase","x":490,"y":259,"wires":[["af3f040b.8e61e8"]]},{"id":"aaa8b10c.53c06","type":"function","z":"655e719.d8d389","name":"Random Word Generator","func":"var things = ['Rock', 'PaPer', 'SciSSor', 'Water', 'WASM', 'WebAssembly'];\nmsg.payload = things[Math.floor(Math.random()*things.length)];\n\nreturn msg;","outputs":1,"noerr":0,"x":301,"y":327,"wires":[["9ea85494.1261d8"]]}]