node-red-native-addon-example.json
[{"id":"afbe3b6d.d7ba18","type":"inject","z":"76cd5eeb.45042","name":" Trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":116,"y":317,"wires":[["b7256267.11d54"]]},{"id":"8a2205f9.132578","type":"debug","z":"76cd5eeb.45042","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":344,"wires":[]},{"id":"c5be4bd6.5dfd78","type":"native-square","z":"76cd5eeb.45042","name":"","x":489,"y":347,"wires":[["8a2205f9.132578"]]},{"id":"c71167a3.54be18","type":"inject","z":"76cd5eeb.45042","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":115,"y":374,"wires":[["c5be4bd6.5dfd78"]]},{"id":"b7256267.11d54","type":"function","z":"76cd5eeb.45042","name":"Random Number","func":"msg.payload = Math.floor(Math.random() * 100) + 1;\nreturn msg;","outputs":1,"noerr":0,"x":303,"y":321,"wires":[["c5be4bd6.5dfd78"]]}]